# --- Python / Django ---
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
myenv/
env/
venv/
.env

# --- Node / React ---
node_modules/
dist/
dist-ssr/
build/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- IDE / Editor ---
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Misc ---
*.local
.history
