asgiref==3.10.0
beautifulsoup4==4.14.2
dj-database-url==3.0.1
Django==5.2.7
django-cors-headers==4.9.0
djangorestframework==3.16.1
greenlet==3.2.4
gunicorn==23.0.0
joblib==1.5.2
numpy==2.3.4
packaging==25.0
pandas==2.3.3
playwright==1.55.0
playwright-stealth==2.0.0
psycopg==3.2.11
psycopg-binary==3.2.11
psycopg2-binary==2.9.11
pyee==13.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
scikit-learn==1.7.2
scipy==1.16.2
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.11.0
